/* Entry point: import modular CSS files */
@import './variables.css';
@import './base.css';
@import './components.css';
@import './tasks.css';
@import './filters.css';
@import './modal.css';
@import './animations.css';
